<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<nav th:fragment="block-sidebar">
			<div class="row-cols  bg-success bg-opacity-25 d-grid gap-2 text-center" style="    height: calc(100vh - 56px);">

                <div class="col p-3"><a href="#" class="btn btn-primary">Home</a></div>
                <div class="col p-3"><a href="#" class="btn btn-primary">elenco Marchi</a></div>
                <div class="col p-3"><a href="#" class="btn btn-primary">elenco Foodtrucks</a></div>
                <div class="col p-3"><a href="api/utenti" class="btn btn-primary">elenco Utenti</a></div>
            </div>
        </nav>
</body>
</html>